@import "../common.scss";

.lucky-code__img {
  width: 70px;
  height: 50px;
  margin-right: 10px;
}

.lucky-code__num {
  font-size: 12px;
}

.lucky-code__list {
  display: flex;
  overflow: auto;
  margin-top: 30px;
}

.lucky-code__line {
  position: relative;
  height: 2px;
  background-color: #d3d3d3;
  margin: 5px 0 10px;
}

.lucky-code__circle {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -5px;
  transform: translate(-50%,-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #d3d3d3;
  background-color: white;
}