@import "../common.scss";

.result-block__title-img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  margin-left: -5px;
  @include bg("https://i.loli.net/2019/02/05/5c593c85b4852.png");
}
.result-block__goods-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  background-color: #f6f6f6;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
}
.result-block__goods-image {
  width: 80px;
  height: 80px;
  @include bg("https://i.loli.net/2019/02/05/5c5869d5a33e6.png");
}
.result-block__goods-side {
  margin-left: 10px;
  text-align: left;
}

.result-block__goods-2nd-title {
  font-size: 12px;
  color: #b2b2b2;
}

.result-block__result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.result-block__lucky-code {
  height: 50px;
  width: 74px;
  @include bg("https://i.loli.net/2019/02/05/5c593abd822b3.png");
}

.result-block__result-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.result-block__right-arrow {
  width: 12px;
  height: 12px;
  margin-left: 5px;
  @include bg("https://i.loli.net/2019/02/05/5c5995d407358.png");
}