page {
  min-height: 100%;
}
.page {
  background-color: white;
  min-height: 100%;
  width: 100%;
  padding-top: 1px;
  padding-bottom: 20px;

  & > .line {
    text-align: center;
    font-size: 14px;
    margin: 25px 0;
    font-weight: bold;
  }
}

.btn {
  margin: 25px 20px;
  background: black;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-weight: bold;
  border-radius: 20px;
}
.steps-image {
  height: 58px;
  margin: 25px 0;
}
.center {
  display: flex;
  align-items: center;
  flex-direction:column;
}
