@import "../common.scss";

.ad-list {
  flex-direction: column;
}

.ad-list__item {
  position: relative;
  margin: 10px 0;
}

.ad-list__btn {
  position: absolute;
  bottom: 25px;
  left: 20px;
  right: 20px;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background: black;
}

.ad-list__img {
  width: 100%;
  padding-top: 123.8%;
  @include bg("");
  background-image: attr(data-src url);
}

.ad-list__title {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}

.hr {
  margin: 25px 0;
  height: 1px;
  background: #e5e5e5;
}